h1{
    display:grid;
    justify-content: center;
    color:white;
}

#titleText{
    background-color: rgba(149, 146, 147, 0.5);
}

body {
    background-image: url("background.avif");
}

.mainText{
    display:grid;
    justify-content: center;
    margin-top: 10%;
}

.mainText p{
    background-color: rgba(149, 146, 147, 0.5);
    color: white;
}

footer p{
    display:inline;
    background-color: rgba(149, 146, 147, 0.5);
    color: white;
}

footer{
    position: fixed;
    bottom: 0;
}